*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #4CAF50;
}

p{
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
    margin-top: 20px;
    text-align: center;
}


h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    color: #ffffff;
    background-color: #4CAF50;
    text-align: center;
    padding: 10px;
}

div{
    margin: 20px;
    padding: 20px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
}

input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    margin-right: 10px;
    grid-row-start: 2;
    border:none;    
    border-bottom: 2px solid #4CAF50;
    background: #45a049;
    transition: background 1s ease, border-bottom 1s ease;
    color :#fff;

}

input:focus{
    outline:none;
    border-bottom: 2px solid #4CAF50;
}
input:hover{
    border-bottom: 2px solid #45a049;
    background: #4CAF50;

}
label{
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    grid-row-start: 2;
}

button:hover{
    background-color: #45a049;
}