h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgb(247, 218, 91);
}

body{
    background-color:aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea{
    width: 300px;
    height: 100px;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-family: Arial, sans-serif;
}

p{
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-top: 10px;
    color: blue;
}